# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store

# Data and Models (Keep structure, ignore contents)
data/*
!data/.gitkeep
saved_models/*
!saved_models/.gitkeep

# Test environment script
test_env.py
